<form [formGroup]="forma">
    <div>
        <div class="form-group">
            <label for="oldPass">Old password</label>
            <input formControlName="oldPassword" type="password" class="form-control" id="oldPass">
            <div *ngIf="forma.get('oldPassword').touched && forma.get('oldPassword').invalid" class="alert alert-danger">
                <div *ngIf="forma.get('oldPassword').errors?.['required']">Old password is required!!!!</div>
                <div *ngIf="forma.get('oldPassword').errors?.['oldPasswordMatch']">Old Password is not valid</div>  
            </div>
        </div>
        <div class="form-group">
            <label for="newPass">New password</label>
            <input formControlName="newPassword" type="password" class="form-control" id="newPass" (change)="passwordMatch()">
            <div *ngIf="forma.get('newPassword').touched && forma.get('newPassword').invalid" class="alert alert-danger">
                <div *ngIf="forma.get('newPassword').errors?.['required']">New password is required!!!!</div>
            </div>
        </div>
        <div class="form-group">
            <label for="confirmPass">Confirm password</label>
            <input formControlName="confirmPassword" type="password" class="form-control" id="confirmPass" (change)="passwordMatch()">
            <div *ngIf="forma.get('confirmPassword').touched && forma.get('confirmPassword').invalid" class="alert alert-danger">
                <div *ngIf="forma.get('confirmPassword').errors?.['required']">Confirm password is required!!!!</div>
                <div *ngIf="forma.get('confirmPassword').hasError('mismatch')">Passwords don't match!!!!</div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary">Change Password</button>
</form>
